ordersmanagement/src/main/mule/ordersmanagement.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="ordersmanagement-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="ordersmanagement-config" api="ordersmanagement.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="1540275f-8b48-440b-89b8-55dd40a5293a" >
		<db:my-sql-connection host="${MySQL.host}" port="${MySQL.port}" user="${MySQL.username}" password="${MySQL.password}" database="${MySQL.dbname}"/>
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="da96135c-2d52-459e-99d4-b821c3af9e86" file="config.yaml" />
	<flow name="ordersmanagement-main">
        <http:listener config-ref="ordersmanagement-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ordersmanagement-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="ordersmanagement-console">
        <http:listener config-ref="ordersmanagement-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ordersmanagement-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\getordersbycustomer:ordersmanagement-config">
		<set-variable value="#[attributes.queryParams.customerid]" doc:name="Set customerid Variable" doc:id="9575effc-72ac-458b-b73c-40f7057b45a0" variableName="customerid"/>
		<db:select doc:name="Get Customer Details" doc:id="725f45aa-252f-485f-967c-d15fc2d6d3b4" config-ref="Database_Config">
			<db:sql >select * from customers where custid=:id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"id" : vars.customerid
}]]]></db:input-parameters>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="ff451c60-383a-4079-9cd9-3bdb15ae0602" doc:name="Create Customers JSON">
            <ee:message>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="customerdata" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<db:select doc:name="Get Order Details" doc:id="2684f9c4-604f-4812-b1e0-a26e727dcaf2" config-ref="Database_Config">
			<db:sql >select * from orders where custid=:id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"id" : vars.customerid
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Create Orders JSON" doc:id="00497f96-0f6b-4f03-9fb7-feb256fd6542" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ordersoutput" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Initialize Products output" doc:id="d7485ed0-8702-41c0-a98d-b27671dcdb58" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="productsoutput" ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="7e7e7021-cd3c-4a30-870d-2867781dd8fe" collection="#[vars.ordersoutput]">
			<db:select doc:name="Read product details" doc:id="a64d15ce-a470-4b92-8c2e-66156fd93f1f" config-ref="Database_Config">
				<db:sql >select * from products where productid=:id</db:sql>
				<db:input-parameters ><![CDATA[#[{
	"id" : payload.productid
}]]]></db:input-parameters>
			</db:select>
			<ee:transform doc:name="Create Product JSON" doc:id="6c25fb7e-e8e5-481f-a912-9747e8ee3ed4" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="product" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Add current product to productsoutput" doc:id="4ccbca87-6ea4-4e2a-ac78-9572c213a441" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="productsoutput" ><![CDATA[%dw 2.0
output application/java
---
vars.productsoutput + vars.product]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="9bf29b29-d23b-4873-81fd-04d340654e0e" />
		</foreach>
		<ee:transform doc:name="Create productsoutput JSON" doc:id="51ecd62e-0f08-4a34-b045-9a25c0d5923a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vars.productsoutput" ><![CDATA[%dw 2.0
output application/json
---
flatten(vars.productsoutput)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Create Final Response" doc:id="b7a2fdf2-d2ca-44a8-9963-7645dba7760c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"customers" : {
		"id" : vars.customerdata[0].custid,
		"name" : (vars.customerdata[0].firstname) as String ++ " " ++ (vars.customerdata[0].lastname) as String,
		"phonenumber" : vars.customerdata[0].phonenumber
	
	},
	"orders" : vars.ordersoutput map () ->
		{
			"orderid" : $.orderid,
			"quantity" : $.quantity,
			"amount" : $.amount
		}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
